<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <a class="rental-offering-attribute street-name" {{bind-attr href= url}} target="_newtab">{{title}}</a>
      </div>
      <div class="modal-body">
        {{yield}}
      </div>
      {{#if error}}
      <div class="alert alert-error"> {{unbound error}} </div>
      {{/if}}
    </div>
  </div>
</div>