<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 border-block">
    <div class="panel-heading">
      <h3 class="panel-title">Change password</h3>
    </div>
    <div class="panel-body">
      {{#form-for model class="pure-form"}}
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 form-group">
            {{#input password}}
              <label for="input-first-name">Password</label>
              {{input-field password name="password" class="form-control"}}
            {{/input}}
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 form-group">
            {{#input passwordConfirmation}}
              <label for="input-last-name">Confirm Password</label>
              {{input-field passwordConfirmation name="passwordConfirmation" class="form-control"}}
            {{/input}}
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block" {{action "update" content}} >
        Save
        </button>
      {{/form-for}}
    </div>
  </div>
</div>
