<script type="text/javascript">
  // home-alert ui
  $('.home-alert').alert();
</script>

<div class="alert home-alert alert-danger fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
  <h4>Oh snap! You found us!</h4>
  <p>
    <pre>

    Dearest Wandering Visitor,
      Everything you see here is fast and loose. Pay no heed and take nothing seriously, but stay tuned.
    
    <u>Warmest Regards</u>,
    <i>The Rental Geeks</i>
    </pre>
  </p>
</div>