<div class="container">
  <div class="row">
    <h1 class="hero-statement text-center">Forgot your password?</h1>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 border-block">
      <div class="account-wall">
        <form class="form-horizontal pure-form">
          <div class="pass-div">
            
            <label class="form-group control-label">Email</label>
            {{input-field email class="form-control no-border-radius" placeholder="Email"}}
         
          </div>
          <div class="form-actions center">
            <button {{action 'passwordreset' }} class="btn btn-primary"> Reset Password</button>
            <button {{action 'cancel' }} class="btn btn-primary"> Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
