<div class="container">
  <div class="row">
    <h1 class="hero-statement text-center">Change your password</h1>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 border-block">
      <div class="account-wall">
        <form class="form-horizontal pure-form">
          
          <div class="pass-div">
             <label class="form-group control-label">Password</label>
            {{input-field password type="password" id="password" class="form-control no-border-radius"}}
          </div>
          
          <div class="pass-div">
            <label class="form-group control-label">Confirm Password</label>
             {{input-field passwordConfirmation type="password" id="passwordConfirmation" class="form-control no-border-radius"}}
            
          </div>
          <div class="form-actions center">
            <button {{action 'passwordchange' }} class="btn btn-primary"> Change Password</button>
            <button {{action 'cancel' }} class="btn btn-primary"> Cancel</button>
          </div>
        </form>
      </div>
    </div> <!-- col-xs-12 col-sm-6 col-sm-offset-3 border-block -->
  </div> <!-- .row -->
</div> <!-- .container -->
